@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideInGreen {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRed {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





.friend-request-animation-green {
    animation: slideInGreen 2s ease forwards;
}
  
.friend-request-animation-red {
    animation: slideInRed 1s ease forwards;
}